a.teamMember-card{
  box-shadow: 1px .5px 3px #222;
  margin: 13px;
  padding: 20px;
  display: inline-grid;
  grid-template-columns: 150px 1fr;
  grid-template-rows: 150px 150px;
  grid-template-areas:
  "img profileHeader"
  "profileExtraContent profileExtraContent";
  border-radius: 5px;
  background-color: #00000050;
  border: 2px solid #ff121D;
  width: 500px;
  color: #fffcfb;
}

a.teamMember-card:hover{
  background-color: #00000025;
  box-shadow: 1px .5px 7px #444;
  transition: .5s;
}

a.teamMember-card img.profileImage{
  grid-area: img;
  border-radius: 50%;
}

a.teamMember-card div.profileHeader{
  grid-area: profileHeader;
  padding: 25px;
}

a.teamMember-card div.profileExtraContent{
  grid-area: profileExtraContent;
  padding: 10px;
}

a.teamMember-card div.profileHeader h2{
  margin: 0px 0px 10px 0px;
}

a.teamMember-card div.profileExtraContent blockquote{
  font-style: italic;
  font-size: 16pt;
  margin-bottom: 20px;
}

a.portfolioLinks{
  display: inline-block;
  color: #E4483B;
  margin: 0px 12px;
  border: 3px solid #E4483B;
  background-color: #fff;
  padding: 8px;
  border-radius: 2px;
  text-decoration: none;
  font-weight: bold;
  float: right;
}

a.portfolioLinks:hover{
  color: #fff;
  background-color: #E4483B;
  transition: .25s;
}

div.profileHeader a{
  color: #E4483B;
  font-weight: bolder;
}


div.profileHeader a:hover{
  transition: .5s;
  text-shadow: 0px 0px 1.5px #eee;
  color: #eee;
}
