body {
  background-color: #666;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}
 a{
   text-decoration: none;
   font-size: 1.2em;
 }

 a:hover{
   color: white;
   transition: .2s;
 }

h1.webTitle{
  padding: 0;
  text-shadow: 0px 0px 3px skyblue;
  width: fit-content;
  margin: 10px;
  display: inline-block;
}

h1,h2,{
  font-family: 'Lexend Peta', sans-serif;
}

header{
  position: static;
  color: white;
  top: 0;
  background-image: linear-gradient(to bottom,rgb(20,20,20),rgb(10,10,10),rgb(15,15,15));
  padding: 5px;
}

a.whiteButtonLink{
  color: navy;
  border: 3px solid navy;
  background-color: #fff;
  padding: 8px;
  border-radius: 2px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 1px 1px 2px black;
}

a.whiteButtonLink:hover{
  color: #fff;
  background-color: navy;
  transition: .25s;
  box-shadow: 1px 1px 8px black;
}

header ul{
  display: inline-block;
}

header li{
  display: inline-block;
  margin: 0px 20px;
  padding: 5px;
}

header li a{
  font-size: 1.5em;
  color: #ddd;
  text-shadow: 0px 0px 3px #ddd;
}

header li a:hover{
  transition: 1;
  color: #fff;
  text-shadow: 0px 0px 6px #fff;
}

main{
  background-image: linear-gradient(to bottom,rgb(15,15,15),rgb(150,150,150));
}

footer{
  background-color: #ddd;
  height: 120px
}

footer h3{
  margin: 0px 20px;
  font-weight: bold;
}

footer ul{
  margin: 0;
  position: relative;
  bottom: -40px;
}

footer li{
  display: inline-block;
  padding: 10px;
  margin-left: 25px;
}

div.listContainer{
  text-align: center;
}

h1.pageTitle{
  color: #eee;
  text-shadow: 0px 0px 3px #ddd;
  margin-top: 0;
}

h1.webTitle{
  font-size: 2.5em;
}
